
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container container-fluid">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="{{url_for('index')}}">Baby Name Checker</a>
        </div>
        <div id="navbar" class="navbar-header collapse navbar-collapse page-scroll">
          <ul class="nav navbar-nav">
            <li><a class="page-scroll" href="#givenname">Given Name</a></li>
            <li><a class="page-scroll" href="#email">Email</a></li>
            <li><a class="page-scroll" href="#marriedname">Married Names</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="https://twitter.com/davidbradway" target="_blank">Twitter @davidbradway</a></li>
                <li><a href="https://gitlab.oit.duke.edu/dpb6/name-checker" target="_blank">Code by: dpb6@duke</a></li>
                <li><a href="http://goo.gl/forms/AMJrwEXM4v" target="_blank">Add missing initials</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
        {% if namevalue %}
        <form class="navbar-form"  action="{{url_for('search')}}" method="post" name="search">
          {{g.search_form.hidden_tag()}}
          {{g.search_form.search(size=20,placeholder='Name',class="form-control",value=namevalue)}}
        </form>
        {% endif %}

      </div>
    </nav>
